@import "./bg_reset.css";

html{
  font-family: 'Microsoft JhengHei';
  box-sizing: border-box;
  background-color: #2f375b;
}

.wrap{
  max-width: 1920px;
  margin: 0 auto;
  min-width: 1300px;
}
a, select{
  cursor: pointer;
}


/* header */
header{
  /* border: 1px solid red; */
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
header div.logo_bread{
	display: flex;
	align-items: center;
	/* border: 1px solid green; */
}
header div.logo_bread > a{
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
}
header .logo_bread > a > img{
  width: 6rem;
  height: 6rem;
  animation-name: rotating;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 3s;
}

@keyframes rotating {
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform:rotateY(360deg);
  }
}
header div.logo_bread nav{
	margin-left: 2rem;
}
header ol.breadcrumb span{
	padding: 0 .5rem;
}
header ol.breadcrumb a{
  /* text-decoration: none; */
  color: #fff;
}

header ol.breadcrumb .current{
  color: #fec240;
}
header ol.breadcrumb{
	display: flex;s
}
header div.burger{
	width: 50px;
	height: 50px;
	background-color: #000;
}

/* banner banner banner banner*/
.banner{
  background-image: url('../images/about/banner3.png');
  background-position: 0 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1477px;
}
.banner .filter{
  background-color: rgba(0, 0, 0, 0.5);
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .filter span{
  display: block;
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
  white-space: nowrap;
}

/* main main main main main */
main{
  width: 100%;
}
main h2, main p{
  color: #fff;
}
main h2{
  font-size: 3rem;
  font-weight: bold;
}
main p{
  font-size: 1.5rem;
}
/* top top top top top */
.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  /* border: 1px solid ; */
}
.top img{
  width: 45%;
  min-width: 500px;
  /* border: 1px solid green; */
}
.concept{
  width: 55%;
  min-width: 500px;
  /* border: 1px solid lightblue; */
}
.concept p{
  margin: 2rem;
  line-height: 2rem;
}
.concept h2::before{
  content: '';
  background-color: #fec240;
  display: block;
  height: 12rem;
  width: 2px;
  position: relative;
  left: 3rem;
  margin: 3rem 0;
  animation: loading linear 5s infinite;
}
@keyframes loading {
  0% {
  transform:scaleY(0);
  transform-origin: top;
  }
  50%
  {
    transform:scaleY(1);
  transform-origin: top;
  }
  50.1%
  {
    transform:scaleY(1);
  transform-origin: bottom;
  }

  100%
  {
    transform:scaleY(0);
  transform-origin: bottom;
  }
}
/* mid mid mid mid mid */
.mid{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  /* border: 1px solid yellow; */
}
.meeple{
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  width: 50%;
  min-width: 800px;
  margin-top: 5rem;
  /* border: 1px solid gray; */
}
.top_meeple, .down_meeple, .top1_meeple, .down1_meeple{
  height: 300px;
  overflow: hidden;
  /* border: 1px solid orange; */
}
.top_pic, .top1_pic, .down_pic, .down1_pic{
  height: 450px;
  width: 400px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 5rem 70%;
  /* border: 1px solid white; */
}
.top_pic{
  background-image: url('../images/about/meeple_top.png');
}
.top1_pic{
  background-image: url('../images/about/meeple_top1.png');
}
.down_pic{
  background-image: url('../images/about/meeple.jpg');
}
.down1_pic{
  background-image: url('../images/about/meeple_down1.png');
}
.right{
  width: 50%;
  margin-top: 8rem;
}
.right h2::before{
  content: '';
  background-color: #fec240;
  display: block;
  height: 10rem;
  width: 2px;
  position: relative;
  left: 3rem;
  margin-bottom: 4rem;
  animation: loading2 8s linear infinite;
}
@keyframes loading2 {
  0%{
    visibility: hidden;
  }
  50%{
    visibility: hidden;
  }
  50.1%{
    transform:scaleY(0);
    transform-origin: top;
    visibility: visible;
  }
  75%{
    transform:scaleY(1);
    transform-origin: top;
  }
  75.1%{
    transform:scaleY(1);
    transform-origin: bottom;
  }
  100%{
    transform:scaleY(0);
    transform-origin: bottom;
  }
}
.right h2::after{
  content: '';
  background-color: #fec240;
  display: block;
  width: 20rem;
  height: 2px;
  position: relative;
  bottom: 17rem;
  left: 3rem;
  animation: loading2-1 8s linear infinite;
}
@keyframes loading2-1 {
  0%{
  transform:scaleX(0);
  transform-origin: right;
  }
  25%{
    transform:scaleX(1);
    transform-origin: right;
  }
  25.1%{
    transform:scaleX(1);
    transform-origin: left;
  }
  50%{
    transform:scaleX(0);
    transform-origin: left;
  }
  50.1%{
    visibility: hidden;
  }
  100%{
    visibility: hidden;
  }
}
.right h2{
  position: relative;
}
.right h2 span{
  position: absolute;
  font-size: 2rem;
  font-style: italic;
  color: #fec240;
  bottom: 19rem;
}
.right p{
  margin: 2rem;
  line-height: 2rem;
}

/* red red red red red */
main{
  position: relative;
}
.red{
  position: absolute;
  top: 9rem;
  left: 3rem;
  width: 30%;
  height: 50rem;
  background-color: #de4b43;
  z-index: -50;
}
/* down down down down down */
.down{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.contact_form{
  margin-left: 3rem;
  color: #fff;
  /* border: 1px solid lightblue; */
  margin-bottom: 10rem;
}
.contact_form h2{
  position: relative;
}
.contact_form h2::before{
  content: '';
  background-color: #fec240;
  display: block;
  height: 12rem;
  width: 2px;
  position: relative;
  left: 6rem;
  margin: 4rem 0;
  animation: loading3 5s linear infinite;
}
@keyframes loading3 {
  0% {
  transform:scaleY(0);
  transform-origin: top;
  }
  50%
  {
    transform:scaleY(1);
  transform-origin: top;
  }
  50.1%
  {
    transform:scaleY(1);
  transform-origin: bottom;
  }

  100%
  {
    transform:scaleY(0);
  transform-origin: bottom;
  }
}
.contact_form h2::after{
  content: '';
  background-color: #fec240;
  display: block;
  width: 12rem;
  height: 2px;
  position: relative;
  bottom: 1.5rem;
  left: 15rem;
  animation: loading3-1 5s linear infinite;
}
@keyframes loading3-1 {
  0% {
  transform:scaleX(0);
  transform-origin: right;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: right;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  100%
  {
    transform:scaleX(0);
  transform-origin: left;
  }
}
.contact_form h2 span{
  position: absolute;
  top: 30%;
  left: 40%;
  white-space: nowrap;
  font-size: 2rem;
  font-style: italic;
  color: #fec240;
}
.form{
  /* border: 1px solid green; */
  margin-left: 10rem;
  margin-top: 5rem;
  min-width: 530px;
}
.form label{
  font-size: 1.5rem;
  display: block;
  margin: 1rem 0;
}
.form input{
  outline: none;
  border: 0;
  border-radius: 1rem;
  font-size: 1rem;
  margin-left: 2rem;
  padding: .5rem;
  width: 20rem;
}
.form textarea{
  outline: none;
  border: 0;
  border-radius: 1rem;
  resize: none;
  font-size: 1rem;
  padding: .5rem;
  width: 20rem;
  height: 15rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.form .note{
  display: flex;
}
.form button{
  font-family: 'Microsoft JhengHei';
  outline: none;
  border: 0;
  border-radius: 1rem;
  font-size: 1.5em;
  font-weight: bold;
  padding: .2rem 1.2rem;
  color: #2f375b;
  background-color: #fec240;
  cursor: pointer;
  float: right;
}
.form button:hover{
  color: #fff;
}
.form.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
.contact_info{
  /* border: 1px solid orange; */
  color: #fff;
  font-size: 1.5rem;
}
.contact_info img{
  max-width: 900px;
}
.yellow_text{
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  font-style: italic;
  color: #fec240;
}
.contact_info div{
  padding: 1rem 0 1rem 10rem;
}
/* red2 red2 red2 red2 red2 */
.down .red2{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 60rem;
  background-color: #de4b43;
  z-index: -50;
}
