@import "./bg_reset.css";
@import "./header.css";
@import "./footer.css";

html{
  font-family: 'Microsoft JhengHei';
  box-sizing: border-box;
  background-color: #2f375b;
  font-size: 16px;
}

.wrap{
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
}
a, select{
  cursor: pointer;
}

/* aside */
div.content{
  margin: 0 auto;
  width: 99%;
  display: flex;
  justify-content: space-around;
}
aside > img{
  width: 3.5rem;
  margin: .5rem;
  float: right;
  position: relative;
  display: none;
  transition: transform .3s;
}



aside::after{
  content: '';
  display: table;
  clear: both;
}
aside a{
  font-size: 1.2rem;
}
aside{
  width: 25%;
  background-color: #fec240;
  color: #2f375b;
  border-radius: 1rem;
}
aside #form{
  width: 100%;
}
div.content input, div.content select, div.content button, div.content textarea{
  box-sizing: border-box;
  font-family: 'Microsoft JhengHei';
  border: 0;
  display: block;
  font-size: 2rem;
  width: 95%;
  outline: none;
  border-radius: 1rem;
  padding: .5rem;
  margin: 0 auto 1rem;
}
div.content textarea{
  resize: none;
}
div.content button{
  font-size: 2rem;
  border-radius: 1rem;
  position: relative;
  background-color: #2f375b;
  color: #fec240;
  cursor: pointer;
}
div.content button:hover{
  color: #fff;
  background-color: #de4b43;
}
aside p{
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
div.content aside div.where, div.content aside div.who{
  padding: 1rem;
}
div.content input[type="checkbox"]{
  display: inline;
  width: 5%;
}

div.content ul li{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}


/* main */
main{
  color: #fff;
  width: 75%;
  padding: 0 1rem;
}
section.photo_map{
  display: flex;
  justify-content: space-between;
}
main h2{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
div.lSSlideOuter {
  width: 45%;
  border-radius: 1rem;
}
section.photo_map div.photo img{
  width: 100%;
  height: 500px;
}
.photo_map iframe{
  border-radius: 1rem;
}
.lSAction > a.lSPrev, .lSAction > a.lSNext{
  background-image: url('../images/slider/controls.png');
  opacity: 1;
}
section.intro_comment1500{
  display: none;
}
section.intro, section.comment{
  padding: .5rem 0 0 0;
}
section.intro{
  font-weight: bold;
  display: flex;
}
section.intro div{
  flex: 1;
}
section.intro p{
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}
section.intro .store_fb a{
  color: #fff;
  cursor: pointer;
}
section.intro .store_fb a:hover{
  color: #fec240;
}
section.intro p::before{
  content:'';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1rem;
}
section.intro p.store_address::before{
  background-image: url('../images/searching/pin.png');
}
section.intro p.store_time::before{
  background-image: url('../images/searching/time.png');
}
section.intro p.store_phone::before{
  background-image: url('../images/searching/contact.png');
}
section.intro p.store_fb::before{
  background-image: url('../images/searching/facebook.png');
}
section.intro p.store_cost::before{
  background-image: url('../images/searching/money.png');
}
section.intro p.store_service::before{
  background-image: url('../images/searching/hospitality.png');
}
section.intro p.store_game::before{
  background-image: url('../images/searching/boardgame.png');
}

section.comment{
  display: flex;
}
section.comment p.store_comment::before{
  content:'';
  display: block;
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: .5rem;
  background-image: url('../images/searching/comment.png');
}

section.comment div.comment_area{
  overflow-y: scroll;
  height: 25rem;
}
div.comment_area::-webkit-scrollbar {
  width: .5rem;
}
/* Track */
div.comment_area::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
div.comment_area::-webkit-scrollbar-thumb {
  background: #fec240;
  border-radius: 10px;
}
/* Handle on hover */
div.comment_area::-webkit-scrollbar-thumb:hover {
  background: #de4b43;
}

section.comment div.comment_area div.user{
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  padding: 1rem;
}

div.user span{
  display: inline-block;
  font-size: 1.8rem;
  vertical-align:middle;
  font-weight: bold;
}
div.user span:before{
  content:'';
  display: inline-block;
  vertical-align:middle;
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
  background-repeat: no-repeat;
  background-size: contain;
}
div.user span:after{
  content: '';
  display: inline-block;
  vertical-align:middle;
  height: 1rem;
  margin-left: 1rem;
  background-size: contain;
}
div.comment1 span:before{
  background-image: url('../images/searching/chan.png');
}
div.comment1 span:after{
  background-image: url('../images/searching/heart.png');
  width: 4.5rem;
}
div.comment2 span:before{
  background-image: url('../images/searching/navbar.png');
}
div.comment2 span:after{
  background-image: url('../images/searching/heart.png');
  width: 5rem;
}
div.comment3 span:before{
  background-image: url('../images/searching/dennis.png');
}
div.comment3 span:after{
  background-image: url('../images/searching/heart.png');
  width: 1rem;
}
div.comment4 span:before{
  background-image: url('../images/searching/pun.png');
}
div.comment4 span:after{
  background-image: url('../images/searching/heart.png');
  width: 3.5rem;
}
div.comment5 span:before{
  background-image: url('../images/searching/sanchong.png');
}
div.comment5 span:after{
  background-image: url('../images/searching/heart.png');
  width: 5rem;
}
div.user p{
  margin-top: .5rem;
  font-size: 1.5rem;
}




/* RWD */
@media (max-width: 1500px) {
  aside{
    width: 40%;
  }
  main{
    width: 60%;
  }
  section.photo_map{
    display: block;
  }
  div.lSSlideOuter {
    width: 100%;
  }
  .photo_map iframe{
    width: 100%;
    height: 500px;
    margin: 3rem 0 0 0;
  }
  section.intro_comment1920{
    display: none;
  }
  section.intro_comment1500{
    margin: 0 auto;
    padding: 0 1rem;
    display: block;
    color: #fff;
  }
}
@media (max-width: 950px){
  div.content{
    flex-direction: column;
    align-items: center;
  }
  h2{
    margin-top: 2rem;
  }
  aside{
    width: 90%;
    margin: 0 auto;
    height: 4.9rem;
    overflow:hidden;
    transition: height .5s;
    box-shadow: .5rem .5rem .5rem #000;
  }
  aside.slidedown{
    height: 77rem;
  }
  aside > img{
    display: block;
    cursor: pointer;
  }
  aside > img:active{
    transform: scale(.9);
  }
  main{
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  section.intro{
    font-weight: bold;
    display: block;
  }
  section.intro_comment1500{
    display: block;
    width: 90%;
  }
}

@media (max-width:500px){
  html{
    font-size: 12px;
  }
  section.comment div.comment_area div.user{
    padding: 1.5rem;
  }
  section.comment div.comment_area{
    height: 30rem;
  }
  .comment .comment_area span{
    font-size: 2rem;
  }
  .comment .comment_area p{
    font-size: 1.6rem;
    line-height: 2rem;
  }
  section.photo_map div.photo img, .photo_map iframe{
    height: 300px;
  }
  .main_menu a{
    font-size: 3rem;
  }
}
/* special footer css*/
footer{
  margin-top: 2rem;
}
