@import "./bg_reset.css";
@import "./header.css";
@import "./footer.css";

html{
  font-family: 'Microsoft JhengHei';
  box-sizing: border-box;
  background-color: #2f375b;
  background-image: url('../images/teaching/letters.jpg');
}
.wrap{
  width: 100%;
}
a, select{
  cursor: pointer;
}

/* header header header header header */
header{
  background-color: rgba(47, 55, 91, .8);
  margin-bottom: 0;
}

/* container  container container container*/
.anchor{
  height: 8rem;
}
.container{
  background-color: rgba(47, 55, 91, .8);
  display: flex;
  align-items: flex-start;
  padding-bottom: 2rem;
}
/* tutorial_list tutorial_list*/
.tutorial_list{
  position: sticky;
  top: 10%;
}
.lists a{
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  transition: .2s;
  padding: 2.5rem 1rem;
}
.lists a:hover{
  color: #fec240;
}
/* main main main main main */
main{
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
/* intro intro intro intro intro */
.intro{
  background-image: url('../images/teaching/old_paper1.png');
  background-size: cover;
  color: #2f375b;
  padding: 2rem;
  border-radius: 2rem;
}
main h2{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  position: relative;
  margin-left: 3rem;
  padding-left: .5rem;
}
main h2::before{
  content: '';
  background-image: url('../images/teaching/stamp.png');
  display: inline-block;
  background-size: contain;
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 3.1rem;
  width: 3rem;
}
.intro p{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 3rem;
  /* font-weight: bold; */
  position: relative;
}
.intro p.sum{
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 4rem;
}
.intro div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* cards cards cards cards cards */
.cards{
  background-image: url('../images/teaching/old_paper1.png');
  background-size: cover;
  color: #2f375b;
  padding: 2rem;
  border-radius: 2rem;
  overflow: hidden;
  /* border: 1px solid red; */
}
.right_cards, .left_cards{
  width: 50%;
  float: left;
  /* border: 1px solid lightblue; */
}
.clearfix:after{
  content: '';
  display: table;
  clear: both;
}
.cards div{
  /* border: 1px solid purple; */
  margin-bottom: 5rem;
}
.card_p{
  display: flex;
}
.cards div img{
  display: block;
}
.cards div p{
  width: 65%;
  /* font-weight: bold; */
  margin-left: 1rem;
  font-size: 1.4rem;
  line-height: 2rem;
  /* border: 1px solid orange; */
}
.cards img{
  height: 16rem;
  /* border: 1px solid green; */
}
.cards img.token{
  height: 10rem;
}
.cards .character b{
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
}


/* process process process process process */

.process{
  background-image: url('../images/teaching/old_paper1.png');
  background-size: cover;
  color: #2f375b;
  padding: 2rem;
  border-radius: 2rem;
  overflow: hidden;
}
.process p{
  /* font-weight: bold; */
  font-size: 1.5rem;
  line-height: 3rem;
  margin-bottom: 5rem;
}
.process p span{
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}
/* video video video video */
.video{
  background-image: url('../images/teaching/old_paper1.png');
  background-size: cover;
  color: #2f375b;
  padding: 2rem 2rem 4rem;
  border-radius: 2rem;
  overflow: hidden;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (max-width: 1250px) {
  .right_cards, .left_cards{
    width: 100%;
    float: none;
  }
}

@media (max-width: 800px) {
  main{
    width: 90%;
  }
  .cards{
    padding: 2rem 0.5rem;
  }

  .intro div{
    display: block;
    text-align: center;
  }
  .intro div p{
    text-align: left;
  }
  .container{
    display: block;
  }
  .tutorial_list{
    display: flex;
    justify-content: center;
    top: 0rem;
    background-color: #2f375b;
    z-index: 10;
  }
  .lists{
    display: flex;
  }
  .lists a{
    color: #fff;
    padding: 3.5rem 1rem;
  }
  .right_cards, .left_cards{
    width: 100%;
    float: none;
  }

}
@media (max-width: 550px) {
  html{
    font-size: 12px;
  }
  .main_menu a{
    font-size: 3rem;
  }
  .intro p{
    font-size: 2rem;
  }
  .intro p.sum{
    margin-top: 3rem;
    font-size: 2.5rem;
  }
  .cards div p{
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .cards .character b{
    font-size: 2.5rem;
  }
  .process p{
    font-size: 2rem;
  }
  .process p span{
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  nav.tutorial_list{
    display: none;
  }
}
@media (max-width: 400px){
  .card_p{
    flex-direction: column;
    align-items: center;
  }

  .card_p p.character{
    margin-left: 0;
    width: 100%;
    align-self: stretch;
    text-align: center;
  }
  .card_p p.character b{
    text-align: center;
  }
  .intro, .cards, .process, .video{
    padding: 2rem 1rem;
  }
  .cards{
    padding: 2rem 0.5rem;
  }
}
